<%- include("header"); %>

<img id = "bg-img" src="/images/boston-public-library-_f9cP4_unmg-unsplash.jpg" alt="">

<div class="main">
    <div class="container1">
        <h1>Day <%= Heading %></h1>
        <div class="child1">
            <p>
                Dear Diary,<br>
                <%= Journal %>
            </p>
        </div>
    </div>
</div>
<%- include("footer"); %>