<%- include("header.ejs"); %>

<img
  id="bg-img"
  src="/images/linh-nguyen-ls6gX4_Mjv0-unsplash (1).jpg"
  alt=""
/>

<div class="main">
  <div class="container1">
    <div class="heading">
      <img src="/images/new_logo_circle.png" alt="" />
      <h1>Daily Journal</h1>
    </div>
    <form class="form" action="/" method="post">
      <div class="sub-container">
        <textarea name="journal" id="userInput" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  
  <div class="container2">
    <% for(var i= 0; i < record.length; i++) { %>
      <form id="theForm" action="/posts/<%= record[i].id %>" method="post">
        <div type="submit" class="card" onclick="cardClicker() ">
          <img src="/images/boston-public-library-_f9cP4_unmg-unsplash.jpg" alt="">
          <h2>Lorem Ipsum</h2>
          <p><%= record[i].journal.slice(0,100) %>...</p>
  
          <!-- <button type="more">More</button> -->
        </div>

      </form>
    <% } %>
  </div>

</div>

<script>
  let card = document.getElementsByClassName("card");
  function cardClicker() {
    document.getElementById("theForm").submit();
  }
</script>
<%- include("footer.ejs"); %>
