<%- include("header.ejs"); %>

<img
id="bg-img"
src="/images/linh-nguyen-ls6gX4_Mjv0-unsplash (1).jpg"
alt=""
/>

<!-- <div class="container1"> -->
    <div class="container1">
      <div class="heading">
        <img src="/images/new_logo_circle.png" alt="" />
        <h1>Daily Journal</h1>
      </div>
      <form class="form" action="/submit" method="post">
        <div class="sub-container">
          <textarea name="journal" id="userInput" cols="30" rows="10">Dear Diary,&#10;</textarea>
          <button type="submit" >Submit</button>
  
        </div>
      </form>

    </div>
    <!-- </div> -->
    
    <script s></script>

<%- include("footer.ejs"); %>