body{
    margin: 0;
    padding: 0;
    background-color: #22223b;
}

#bg-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    filter: brightness(40%);
    z-index: -1;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 img{
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.sub-container{
    background-image: url("https://cdn.vectorstock.com/i/1000x1000/76/09/seamless-school-background-vector-1347609.webp") ;
    /* background-image: linear-gradient(110deg,#e63946,#219ebc) ; */
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

h1{
    display: flex;
    align-items: center;
    width: fit-content;

    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #b8b8ff;

}

textarea{
    background-color: beige;
    background-image: url(https://img.freepik.com/free-photo/white-paper-texture_1194-5416.jpg);
    object-fit: fill;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    width: 60rem;
    height: 30rem;
    color: rgb(254, 55, 88);

    padding: 20px;

    font-family: "Indie Flower", cursive;
    font-size: 25px;
    font-weight:600;
}

.container1 button{
    margin-top: 32px;
    width: 14rem;
    height: 45px;

    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: medium;

    background-color: #22223b;
    border: none;
    border-radius: 20px;
    color: white;
    letter-spacing: 3px;
}

.container1 button:hover{
    /* background-color: #3A015C; */
    /* animation-name: shrink;
    animation-duration: 200ms; */
    transition: 150ms ease-out;
    background-color: #b8b8ff;
    color: #22223b;
    height: 50px;
    width: 12rem;

    cursor:pointer;
}

@keyframes shrink {
    0% {
        background-color: #ff5500;
        height: 45px;
        width: 14rem;
    }
    100% {
        background-color: rgb(254, 55, 88);
        height: 50px;
        width: 12rem;
    }
}

.container2{
    width: 90%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
    
    margin-top: 10rem   ;
}

.card{
    justify-self: center;
    border-radius: 10px;
    width: 65%;
    height: 25rem;
    padding: 20px;
    background-color: #ec3544;
    box-shadow: 10px 10px #131322;
    cursor:pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #131322;
    font-family: "Merriweather", serif;
}

.card img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ba2c38;
}

.card p{
    color:aliceblue;
    cursor:pointer;
    align-self: flex-start;
}

.card button{
    padding: 6px;
    border: none;
    border-radius: 10px;

    align-self: flex-end;

    font-family: 'Inter', sans-serif;
    font-size: medium;
}

footer{
    color: white;

}